Django==1.10.6
argparse==1.2.1
cycler==0.10.0
dj-database-url==0.4.2
functools32==3.2.3-2
gunicorn==19.7.0
log==2016.05.28
matplotlib==2.0.0
numpy==1.12.1
pyparsing==2.2.0
python-dateutil==2.6.0
pytz==2016.10
six==1.10.0
subprocess32==3.2.7
whitenoise==3.3.0
wsgiref==0.1.2
